<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
    {% endblock %}

    {% block javascript %}
        <script type="text/javascript" href="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" href="{{ asset('js/jquery.min.js') }}"></script>
        <script type="text/javascript" href="{{ asset('js/bootstrap.js') }}"></script>
        <script type="text/javascript" href="{{ asset('js/jquery.easydropdown.js') }}"></script>
        <script type="text/javascript" href="{{ asset('js/responsiveslides.min.js') }}"></script>
        <script type="text/javascript">
            $(function () {
                $("#slider").responsiveSlides({
                    auto: true,
                    nav: true,
                    speed: 500,
                    namespace: "callbacks",
                    pager: true,
                });
            });
        </script>
    {% endblock %}

    <title>{% block title %}MPClean{% endblock %}</title>
</head>
<body>
{% block menu %}
{% endblock %}

{% block content %}
{% endblock %}

</div>
</body>
</html>