{%  extends '::base.html.twig' %}

{% block content %}
    <div class="mian">
        <div class="content-top">
            <div class="sellers">
                <h4><span><span>Meilleures</span> ventes</span></h4>
            </div>
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <div class="product-desc">
                        <img src="{{ asset("images/ts1.jpg") }}" alt="" />
                        <h4>Produit 1</h4>
                    </div>
                    <div class="prod-inner">
                        <span class="price">$12.50</span>
                        <a href="single.html" class="button" rel="nofollow">Add to cart</a>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <div class="product-desc">
                        <img src="{{ asset("images/ts1.jpg") }}" alt="" />
                        <h4>Produit 1</h4>
                    </div>
                    <div class="prod-inner">
                        <span class="price">$12.50</span>
                        <a href="single.html" class="button" rel="nofollow">Add to cart</a>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <div class="product-desc">
                        <img src="{{ asset("images/ts1.jpg") }}" alt="" />
                        <h4>Produit 1</h4>
                    </div>
                    <div class="prod-inner">
                        <span class="price">$12.50</span>
                        <a href="single.html" class="button" rel="nofollow">Add to cart</a>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <div class="product-desc">
                        <img src="{{ asset("images/ts1.jpg") }}" alt="" />
                        <h4>Produit 1</h4>
                    </div>
                    <div class="prod-inner">
                        <span class="price">$12.50</span>
                        <a href="single.html" class="button" rel="nofollow">Add to cart</a>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="content-top">
            <div class="sellers">
                <h4><span><span>Produits</span> à l'affiche</span></h4>
            </div>
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <div class="product-desc">
                        <img src="{{ asset("images/ts1.jpg") }}" alt="" />
                        <h4>Produit 1</h4>
                    </div>
                    <div class="prod-inner">
                        <span class="price">$12.50</span>
                        <a href="single.html" class="button" rel="nofollow">Add to cart</a>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <div class="product-desc">
                        <img src="{{ asset("images/ts1.jpg") }}" alt="" />
                        <h4>Produit 1</h4>
                    </div>
                    <div class="prod-inner">
                        <span class="price">$12.50</span>
                        <a href="single.html" class="button" rel="nofollow">Add to cart</a>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <div class="product-desc">
                        <img src="{{ asset("images/ts1.jpg") }}" alt="" />
                        <h4>Produit 1</h4>
                    </div>
                    <div class="prod-inner">
                        <span class="price">$12.50</span>
                        <a href="single.html" class="button" rel="nofollow">Add to cart</a>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <div class="product-desc">
                        <img src="{{ asset("images/ts1.jpg") }}" alt="" />
                        <h4>Produit 1</h4>
                    </div>
                    <div class="prod-inner">
                        <span class="price">$12.50</span>
                        <a href="single.html" class="button" rel="nofollow">Add to cart</a>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
{% endblock %}